{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      {% include 'partials/club_profile.html' %}
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          {% if applied == False %}
            <p class="card-text">Here is information about this club.</p>
            <p class="card-text">If you want to join, apply here:</p>
            <a href='{% url 'apply_Club' club.name %}' class="btn btn-primary">Apply</a>
          {% else %}
            <p class="card-text">You have applied to this club!</p>
            <p class="card-text">An officer will have to look at your application to approve it.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
