{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      {% include 'partials/club_profile.html' %}
    </div>
    <div class="col-4">
      <div class="card m-2">
        <div class="card-body">
            <h5 class="card-text">You are the owner of this club.</h5>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Tournaments</h5>
          <p class="card-text">Officers of this club can host tournaments that any member can join.</p>
          <a href="{% url 'tournament_list' club.pk %}" class="btn btn-primary">Check it out</a>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Applicant List</h5>
          <p class="card-text">As an officer, you are able to approve applications to grant memberships.</p>
          <a href="{% url 'applicants' club.pk %}" class="btn btn-primary">Go and Check</a>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Update club details</h5>
          <p class="card-text">As the club owner, you can change the description and location of the club.</p>
          <a href="{% url 'change_club_details' club.pk %}" class="btn btn-primary">Update club details</a>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Delete Club</h5>
          <p class="card-text">As the club owner, you can delete this club.</p>
          <b><p class="card-text">Be warned: Deletion is permanent!</p></b>
          <a href="{% url 'delete_club' club.pk %}" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
