<div class="col-12">
  <h1>{{ tournament.name }}</h1>
  <h5>Description: {{ tournament.description }}</h5>
  <h5>Number Of Members: {{ tournament.numberOfMembers }}</h5>
  <img src="{{ tournament.organiser.gravatar }}" alt="Gravatar of {{ tournament.organiser.username }}" class="rounded-circle" >
  <h2>Owner: <a href="{% url 'show_user' tournament.club.pk tournament.organiser.id %}">{{ tournament.organiser.full_name }}</a> </h2>
  <h5>Bio: {{ tournament.organiser.bio }}</h5>
  <h2>Users</h2>
  <table class="table">
    {% for user in users %}
      <tr>
        <td>
          <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
        </td>
        <td>{{ user.full_name }}</td>
        <td><a href="{% url 'show_user' tournament.club.pk user.id %}">{{ user.full_name }}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>