{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Officer list </h1>
<table class="table">
    <tr>
      <th>
          Officer gravatar
      </th>
        <th>
        Officer name
      </th>
      <th>
        Officer bio
      </th>
              <th>
        Allow to be co-organiser
      </th>
    </tr>
  {% for officer in officers %}
    <tr>
      <td>
        <img src="{{ officer.user.mini_gravatar }}" alt="Gravatar of {{ officer.user.full_name }}" class="rounded-circle" >
      </td>
      <td><a href="{% url 'show_user' officer.club.pk officer.user.pk %}">{{ officer.user.full_name }}</a></td>
    <td>{{ officer.user.bio }}</td>
        {% if request_user.is_organiser %}
        <td><input id=button type="button" class="btn btn-primary" onclick=location.href='{% url 'allow_co_organiser' tournament_pk officer.user.id %}' value="Allow"></td>
        {% else %}
        <td><input id=button type="button" class="btn btn-primary" disabled=true value="Allow"></td>
        {% endif %}
    </tr>
  {% endfor %}
</table>
    </div>
  </div>
</div>
{% endblock %}
