{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row content">
    <div class="col-xs-12 col-lg-6 col-xl-8">
      {% include 'partials/user_profile.html' with user=shown_user %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 offset-md-1 col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Approve</h5>
        <p class="card-text">Approve this applicant to membership.</p>
        <a href="{% url 'to_member' shown_user.id %}" class="btn btn-primary">Click to Approve</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
