{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ club.name }}<h1>
      <h5>Location: {{ club.location }}</h5>
      <h5>Description: {{ club.description }}</h5>
      <h5>Number Of Mumbers: {{ club.numberOfMembers }}</h5>
      <img src="{{ club.owner.gravatar }}" alt="Gravatar of {{ club.owner.username }}" class="rounded-circle" >
      <h2>Owner: <a href="{% url 'show_user' club.owner.id %}">{{ club.owner.full_name }}</a> <h2>
      <h5>Bio: {{ club.owner.bio }}</h5>
      <h2>Users</h2>
      <table class="table">
        {% for user in users %}
          <tr>
            <td>
              <img src="{{ user.mini_gravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" >
            </td>
            <td>{{ user.full_name }}</td>
            <td><a href="{% url 'show_user' user.id %}">{{ user.full_name }}</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 offset-md-1 col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Applicant List</h5>
        <p class="card-text">As an officer, you are able to approve applications to grant memberships.</p>
        <a href="{% url 'applicant_list' %}" class="btn btn-primary">Go and Check</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 offset-md-1 col-md-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Leave club</h5>
        <a href="{% url 'leave_club' user.id %}" class="btn btn-primary">Leave</a>
      </div>
    </div>
  </div>
</div>
{% if rank == "Member" %}
<div class="col-sm-6">
  <div class="card" style="width: 30rem.">
    <div class="card-body">
      <h5 class="card-title">Remove user</h5>
      <p class="card-text">Kick user out of the club.</p>
      <a href='{% url 'remove_user' shown_user.id %}' class="btn btn-primary">Remove user</a>
    </div>
  </div>
</div>
</div>
{% endblock %}
