{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Manage Your Clubs as Owner</h1>
      <h5>You are the owner of the club(s):</h5>
      {% if clubs %}
        <table class="table">
          {% for club in clubs %}
            <tr>
              <td>
                <img src="{{ club.mini_gravatar }}" alt="Gravatar of {{ club.name }}" class="rounded-circle" >
              </td>
              <td><a href="{% url 'owner_manage_club' pk=club.pk %}">{{ club.name }}</a></td>
              <td>{{ club.owner.full_name }}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <h5> Sorry :( You are not an owner in any club.</h5>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
