{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Profile</h1>
      <div class="profile-text">
        <h3 class="profile-username">{{ user.full_name}}</h3>
        <p class="profile-username">{{ user.email }}</p>
      </div>
      <h1>Bio:</h1>
      <p class="profile-bio">{{ user.bio }}</p>
      <h1>Personal Statement:</h1>
      <p class="profile-bio">{{ user.personal_statement }}</p>
      <h1>Chess Level:</h1>
      <p class="profile-bio">{{ user.experience }}</p>
      {% if clubs %}
        <h1>Joining Club(s):</h1>
        {% for club in clubs%}
          <p class="profile-bio">{{ club.name }}</p>
        {% endfor %}
      {% else %}
        <h5>You have not joined a club yet. You can choose to apply a club or create your own club</h5>
      {% endif %}
    </div>
    <div class="col-3">
      <img src="{{ user.gravatar }}" alt="Gravatar of {{ user.email }}" class="profile-image" style="width: 100%;" >
    </div>
  </div>
</div>
{% endblock %}
