{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-8">
      {% include 'partials/tournament_profile.html' %}
    </div>
    <div class="col-4">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-text">You are a co-organiser of this tournament.</h5>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Co-Organiser list</h5>
          <p class="card-text">As a co-organiser, you can check out who else is co-organising this tournament.</p>
          <a href="{% url 'co_organiser_list' club.pk tournament.pk %}" class="btn btn-primary">Co-Organiser list</a>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Schedule of Matches</h5>
          <p class="card-text">As a co-organiser, you can request the system to schedule matches and enter the results of matches.</p>
          <a href="{% url 'show_matches' club.pk tournament.pk %}" class="btn btn-primary">Show Matches</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
