{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Schedule of matches</h1>
      {% if tournament.isExpired %}
        {% if isWinner == None%}
          <div class="card text-white bg-secondary text-center m-2">
            <div class="card-body">
              <h5 class="card-title">The game does not start yet</h5>
              <p class="card-text">Please prepare for the your game. Good Luck!</p>
            </div>
          </div>
        {% elif isWinner %}
          {% if stage_length > 1 %}
            <div class="card text-white bg-success text-center m-2">
              <div class="card-body">
                <h5 class="card-title">Congratulations!</h5>
                <p class="card-text">You have won this game. Please prepare for the next game. Good Luck!</p>
              </div>
            </div>
          {% else %}
            <div class="card text-white bg-success text-center m-2">
              <div class="card-body">
                <h5 class="card-title">Congratulations!</h5>
                <p class="card-text">You are the winner of the tournament!</p>
              </div>
            </div>
          {% endif %}
        {% else %}
          <div class="card text-white bg-secondary text-center m-2">
            <div class="card-body">
              <h5 class="card-title">Sorry!</h5>
              <p class="card-text">You have lost this game. Thank you for your participation.</p>
            </div>
          </div>
        {% endif %}
      {% else %}
      <div class="card text-white bg-secondary text-center m-2">
        <div class="card-body">
          <h5 class="card-title">The game does not start yet</h5>
          <p class="card-text">Please prepare for the your game. Good Luck!</p>
        </div>
      </div>
    {% endif %}
      <table class="table text-center">
        <thead>
          <tr>
            <th>
              <h2>Player 1</h2>
            </th>
            <th>
            </th>
            <th>
              <h2>Player 2</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for game in tournament.current_stage.games %}
            <tr>
              {% if game.winner == "1" %}
                <td class="table-success">
                  <img src="{{ game.player1.mini_gravatar }}" alt="Gravatar of {{ game.player1.username }}" class="rounded-circle" >
                  <h5>{{ game.player1.full_name }}</h5>
                </td>
                <td class="align-middle"><h3>VS</h3></td>
                <td class="table-danger">
                  <img src="{{ game.player2.mini_gravatar }}" alt="Gravatar of {{ game.player2.username }}" class="rounded-circle" >
                  <h5>{{ game.player2.full_name }}</h5>
                </td>
              {% elif game.winner == "2" %}
                <td class="table-danger">
                  <img src="{{ game.player1.mini_gravatar }}" alt="Gravatar of {{ game.player1.username }}" class="rounded-circle" >
                  <h5>{{ game.player1.full_name }}</h5>
                </td>
                <td class="align-middle"><h3>VS</h3></td>
                <td class="table-success">
                  <img src="{{ game.player2.mini_gravatar }}" alt="Gravatar of {{ game.player2.username }}" class="rounded-circle" >
                  <h5>{{ game.player2.full_name }}</h5>
                </td>
              {% elif game.winner == "0" %}
                <td class="table-secondary">
                  <img src="{{ game.player1.mini_gravatar }}" alt="Gravatar of {{ game.player1.username }}" class="rounded-circle" >
                  <h5>{{ game.player1.full_name }}</h5>
                </td>
                <td class="align-middle"><h3>VS</h3></td>
                <td class="table-secondary">
                  <img src="{{ game.player2.mini_gravatar }}" alt="Gravatar of {{ game.player2.username }}" class="rounded-circle" >
                  <h5>{{ game.player2.full_name }}</h5>
                </td>
              {% else %}
                <td>
                  <img src="{{ game.player1.mini_gravatar }}" alt="Gravatar of {{ game.player1.username }}" class="rounded-circle" >
                  <h5>{{ game.player1.full_name }}</h5>
                </td>
                <td class="align-middle"><h3>VS</h3></td>
                <td>
                  <img src="{{ game.player2.mini_gravatar }}" alt="Gravatar of {{ game.player2.username }}" class="rounded-circle" >
                  <h5>{{ game.player2.full_name }}</h5>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
