{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Schedule of matches</h1>
      <table class="table text-center">
        <thead>
          <tr>
            <th>
              <h2>Player 1</h2>
            </th>
            <th>
            </th>
            <th>
              <h2>Player 2</h2>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for game in tournament.current_stage.games %}
            <tr>
              <td>
                <img src="{{ game.player1.mini_gravatar }}" alt="Gravatar of {{ game.player1.username }}" class="rounded-circle" >
                <h5>{{ game.player1.full_name }}</h5>
              </td>
              <td><h3>VS</h3></td>
              <td>
                <img src="{{ game.player2.mini_gravatar }}" alt="Gravatar of {{ game.player2.username }}" class="rounded-circle" >
                <h5>{{ game.player2.full_name }}</h5>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
